[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/rails-minor-mode"]
	path = vendor/rails-minor-mode
	url = https://github.com/remvee/emacs-rails.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "vendor/markdown-mode.el"]
	path = vendor/markdown-mode.el
	url = git://github.com/bookworm/markdown-mode.el.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/find-file-in-project"]
	path = vendor/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/ruby-tools"]
	path = vendor/ruby-tools
	url = https://github.com/rejeep/ruby-tools.git
